<html>
<head>
    <title>notify-locator-app</title>
</head>
<body>

<button onClick="getLocation()">Send my location</button>


</body>


<script>
  const xhttp = new XMLHttpRequest()

  function getLocation () {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(pos => {
        console.log(`sending: \n Latitude: ${pos.coords.latitude} \n Longitude: ${pos.coords.longitude}`)
        console.log(`post url: PRETENDURL/update?uuid=<%= uuid %>uuid&lon=${pos.coords.longitude}&lat=${pos.coords.latitude}`)
        xhttp.open('POST', `PRETENDURL/update?lon=${pos.coords.longitude}&lat=${pos.coords.latitude}`)
      })
    } else {
      console.error('Geolocation is not supported by this browser.')
    }
  }
</script>
</html>
