<html>
<head>
    <title>notify-locator-app</title>
</head>
<body>

<button onClick="getLocation()">Send my location</button>


</body>


<script>
  function getLocation () {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(pos => {
        console.log(`Latitude: ${pos.coords.latitude} \nLongitude: ${pos.coords.longitude}`)
      })
    } else {
      console.error('Geolocation is not supported by this browser.')
    }
  }
</script>
</html>
